<!doctype html>
<meta charset="utf-8">
<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>
<!-- CSS Reset -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
<!-- Milligram CSS minified -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.min.css">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %} — Open Bee Lab</title>
<body class="container">
  <header class="clearfix">
    <div class="logo float-left">
      <a href="/">
        <img src="{{'/static/openbeelab.png'|asseturl }}" alt="Open Bee Lab logo">
      </a>
    </div>
    <nav class="float-right">
      <ul class="nav navbar-nav">
        {% for href, title in [
          ['#projects', 'Projets'],
          ['#contribute', 'Contribuer'],
          ['#follow', 'Suivre'],
          ['#contact', 'Contact']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
</body>
