body {
  font-family: 'Asap', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  text-align: center;
}

nav {
  margin-top: 1em;
}

ul.navbar-nav li {
  display: inline;
  margin-left: 1.2em;
}

blockquote.quote {
  font-size: 1.25em;
}
