/* Base style (applies to every screen size) */

body {
  font-family: 'Asap', sans-serif;
}

.page {
  max-width: 50em;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1, h2 {
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

.logo img {
  max-width: 110px;
  display: block;
  margin: auto;
}

nav {
  padding-right: 1.5em;
}

ul.navbar-nav {
  margin-top: 1em;
  padding: 0;
}

.navbar-nav li {
  display: inline;
  margin-left: 1.2rem;
}

.row {
  padding-bottom: 40px;
  margin-bottom: 30px;
}

#about p {
  font-size: 1.25em;
}

blockquote {
  font-size: 1.25em;
  border-left-color: #9b4dca;
  background-color: #9b4dca33;
}

.block {
  display: block;
  margin-left: 0;
  max-width: 100%;
  width: 100%;
  padding: 0 1rem;
}

.project {
  flex: 1;
}

#projects {
  flex-wrap: wrap;
}

footer {
  padding-bottom: 3em;
  text-align: center;
}

/* Larger than mobile screen */
@media (min-width: 40.0rem) {

}

/* Larger than tablet screen */
@media (min-width: 80.0rem) {

}

/* Larger than desktop screen */
@media (min-width: 120.0rem) {

}

